
#layout {
  min-height: 92vh;
  width: 100vw;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom-style: solid;
  border-width: 1px;
  border-bottom-color: #cccccc;
}

