.header {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background: beige;
  border-bottom-style: solid;
  border-width: 1px;
  border-bottom-color: #cccccc;
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

